/* nav bar */
a {
    color: white;
}

.navBar {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    height: 17vh;
}

.navBarLogo {
    margin: 2%;
    width: 10%;
    height: auto;
    margin-right: 15%;
    cursor: pointer;
    flex: 2;
}

.navLink {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-right: 5%;
    text-decoration: none;
    flex: 1;
}

.navLink:hover {
    text-decoration: underline;
}

.loginInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-right: .5%;
    flex: 2;
}

.loginLink {
    margin-right: 0%;
    flex: 1;
}

.loggedInLink {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10%;
    margin-bottom: 5%;
    cursor: pointer;
    flex: 1;
}

.loggedInLink:hover {
    text-decoration: underline;
}

.logoutLink {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70%;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    flex: 1;
}

.logoutLink:hover {
    text-decoration: underline;
}

.cartImg {
    width: 3%;
    padding: 1%;
    cursor: pointer;
    flex: 1;
}

/* Tablet view */

@media screen and (min-width: 768px)
and (max-device-width: 1024px) {
    .navBar {
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        height: 10vh;
    }
    
    .navBarLogo {
        margin: 2%;
        width: 10%;
        height: auto;
        margin-right: 10%;
        cursor: pointer;
        flex: 1;
    }
    
    .navLink {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 100%;
        font-weight: 200;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-right: 1%;
        text-decoration: none;
        flex: 1;
    }
    
    .navLink:hover {
        text-decoration: underline;
    }

    #homeLink {
        display: none;
    }
    
    .loginInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        flex: 1;
    }
    
    .loginLink {
        margin-right: 0%;
        flex: 1;
    }
    
    .loggedInLink {
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 70%;
        font-weight: 200;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 10%;
        margin-bottom: 5%;
        cursor: pointer;
        flex: 1;
    }
    
    .loggedInLink:hover {
        text-decoration: underline;
    }
    
    .logoutLink {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50%;
        font-weight: 200;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        flex: 1;
    }
    
    .logoutLink:hover {
        text-decoration: underline;
    }
    
    .cartImg {
        width: 5%;
        height: auto;
        padding: 5%;
        cursor: pointer;
        flex: .5;
    }
}

/* Mobile Portrait View */

@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    .navBar {
        display: flex;
        height: 10vh;
        width: 100vw;
    }

    #homeLink {
        display: none;
    }

    .navBarLogo {
        margin: 2%;
        width: 10%;
        height: auto;
        margin-right: 10%;
        cursor: pointer;
        flex: 1;
    }
    
    .navLink {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 80%;
        font-weight: 200;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-right: 3%;
        text-decoration: none;
        flex: 1;
    }
    
    .navLink:hover {
        text-decoration: underline;
    }

    #homeLink {
        display: none;
    }
    
    .loginInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        flex: 1;
    }
    
    .loginLink {
        margin-right: 0%;
        flex: 1;
    }
    
    .loggedInLink {
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 70%;
        font-weight: 200;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 10%;
        margin-bottom: 5%;
        cursor: pointer;
        flex: 1;
    }
    
    .loggedInLink:hover {
        text-decoration: underline;
    }
    
    .logoutLink {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50%;
        font-weight: 200;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        flex: 1;
    }
    
    .logoutLink:hover {
        text-decoration: underline;
    }
    
    .cartImg {
        width: 5%;
        height: auto;
        padding: 2%;
        cursor: pointer;
        flex: 1;
    }
}